.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  padding: 0 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  display: flex;
  flex-direction: column;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  background-image: url(../images/closeicon.svg);
  cursor: pointer;
  background-color: transparent;
  opacity: 40%;
  align-items: center;
}

.modal__close-btn_type_preview {
  background-image: url(../images/previewcloseicon.svg);
  top: 0;
  right: -52.5px;
  transition: 0.1s;
  opacity: 100%;
  cursor: pointer;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/closeicon.svg);
  opacity: 40%;
  transition: 0.1s;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
  transition: 0.1s;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  opacity: 70%;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #212121;
  opacity: 40%;
  font-size: 20px;
  margin: 8px 0 0;
  font-weight: 500;
}

.modal__input::placeholder {
  color: #212121;
}

.modal__input:hover {
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.modal__submit-btn {
  color: #fcf5ef;
  font-size: 16px;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  padding: 18px 58px;
  max-width: 156px;
  align-items: center;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 80%;
  transition: 0.5s;
}

.modal__image-container {
  position: relative;
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: transparent;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 16px;
  padding-bottom: 8px;
  margin: 0;
  align-items: center;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  font-size: 20px;
  padding: 4px 8px;
  margin: 0;
  max-width: fit-content;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
    width: 100%;
    position: relative;
    left: 10px;
    right: 10px;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0;
  }

  .modal__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
    width: 100%;
  }

  .modal__submit-btn {
    max-width: 100%;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__image {
    max-width: unset;
  }
}
